<div>
    <p>Title: <%- article.title%></p>
    <p>Price: <%- article.price%></p>
    <p>Category: <%- article.category%></p>
    <p>Description: <%- article.description%></p>
    <a href="/article/<%= article._id%>">SHOW</a>
</div>