<!-- BIG LIST ARTICLES  -->
<!-- /article/list   &&   /search -->

<!-- for each article -->
<div class="card-lg">
    <a href="/article/<%= article._id%>">
        <div>
            <img src="<%= article.imgPath%>" alt="<% article.originalName%>">
        </div>
    </a>
    <div class="card-lg-text">
        <div class="title">
            <h3>
                <%- article.title%>
            </h3>
            <% if (article.userID._id != locals.currentUser._id ){%>
            <h3>€
                <%- article.price%>.00 <span>/ day</span> </h3>
            <%}%>

        </div>
        <div>
            <span>
                <%= article.type%> /
                <%= article.category%>
            </span>

            <% if (article.userID._id != locals.currentUser._id ){%>
            <span>By <a href="/user/<%= article.userID._id%>">
                    <%= article.userID.username%> </a>
            </span>
            <%}else {%>
            <form action="/article/delete" method="POST">
                <input type="hidden" name="articleId" value="<%= article._id %>">
                <button class="btn delete card-lg-right" type="submit"><img src='/images/deleteicon.png' ></button>
            </form>
            <%} %>
        </div>

        <!-- If im not owner, show price and rent request button. Else show delete button -->
    </div>
</div>