<!-- /notifications  list of notifications -->
<div class="card-sm">
    <img src="<%= rent.imgPath %>" alt="<% article.originalName%>"> </a>
    <%= article.title %>
    Date end: <%= rent.dateEnd%>
    <a href="/notifications/<%= article.id %>/<%= rent.id %>">SHOW</a>
</div>

<!-- Show only my rents -->
