<!-- /main/dashboard  &&  /main/rents -->
<div class="card-sm-img-container">
    <img src="<%= article.imgPath %>" alt="<% article.originalName%>"> </a>
</div>

<div class="card-sm-text">
    <span class="title">
        <%= article.title %> </span>
    <span>Return on:
        <%const de = rent.dateEnd.toString() %>
        <%= de.slice(0,15) %> </span>
    <span>Status:
        <%= rent.state%> </span>
    <span>Total Price:
        €<%= rent.totalPrice%>.00</span>
</div>