<div>
    <p>Title:
        <%- article.title%>
    </p>
    <p>Date start:
        <%- rent.dateStart%>
    </p>
    <p>Date end:
        <%- rent.dateEnd%>
    </p>
    <%console.log(rent.id)%>
    <a href="/notifications/<%= article.id %>/<%= rent.id %>">SHOW</a>
</div>