<h2>Rent Articles</h2>
<div class = "container-rent">
  <% articles.forEach((article) => {%> 
    <% article.rent.forEach((rent) => {%>
      <% if (rent.lesseeID == userID ){%>
        <li>
          <a href="/article/<%= article._id %>">
            <%= article.title %>
            <%= rent.dateEnd%>
            <%= rent.state%>
            <img src="<%= rent.imgPath %>" alt="<% article.originalName%>"> </a>
            <form action="/article/<%= article._id %>/delete" method="POST">
              <input type="submit" value="Delete">
            </form>
        </li>
      <%} %>
    <% })%>
  <%}) %>  
</div>
