<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <title>Found Art</title>
</head>

<body>
    <% if (locals.currentUser ){%>
    <div>
        <div class="menu-bar">
            <div class="menu-username">
               <a href="javascript: history.go(-1)"><img src="/images/back-128.png" alt="back icon"></a> 
            
            </div>
            <img id="menu-icon" class="menu-item" src="/images/menuIcon.png" alt="menu icon">

        </div>
        <%if( typeof userUrl === 'undefined' ){%>
        <div class="menu-user">
            <a href="/user/<%= locals.currentUser._id%>"><img class="menu-user-img" src="<%= locals.currentUser.userImgPath %>" alt="<%= locals.currentUser.userOriginalName%>"></a> 
        </div>
        <%}%>


        <div class="menu-content hidden" id="menu-content">
            <a href="/main" onclick="addClass('hidden', 'menu-content')">
                <div>DASHBORD</div>
            </a>

            <a href="/article/list" onclick="addClass('hidden', 'menu-content')">
                <div>MY ARTICLES</div>
            </a>
            <a href="/main/rents" onclick="addClass('hidden', 'menu-content')">
                <div>MY RENTS</div>
            </a>
            <a href="/article/favorites" onclick="addClass('hidden', 'menu-content')">
                <div>MY FAVORITES</div>
            </a>
            <a href="/notifications" onclick="addClass('hidden', 'menu-content')">
                <div>NOTIFICATIONS</div>
            </a>
            <a href="/user/logout" onclick="addClass('hidden', 'menu-content')">
                <div>LOGOUT</div>
            </a>
        </div>
    </div>
    <%} %>



    </div>
    <div class="main-container">
        <%- include('../partials/flash-notifications') %>
        <%-body%>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/support.js"></script>
    <script src="/javascripts/geo.js"></script>
</body>

</html>