<h2> Messages </h2>
<form action="/user/message/send" method="post">
  <input type="hidden" name="articleId" value="<%= articleId%>">
  <input type="hidden" name="owner" value="<%= owner.username%>">
  <p>From: <%= userID.username%></p>
  <p>To: <%= owner.name%></p>
  <label for="message"> Message:</label><br>
  <input type="text" name="text" id="text">
  <input type="hidden" name="date" id="date">
  <input type="hidden" name="dest" value="<%= owner._id %>">
  <button class="btn">Send</button>
</form>