        <h2>PROFILE</h2>
        <div class ="profile-header">
            
            <div class ="container-photo-profile">
                <img class="img-profile" src="<%= locals.currentUser.userImgPath %>" alt="<%= locals.currentUser.userOriginalName%>">
            </div>
            <div class ="container-text-profile">
                <h2><%= user.username %></h2>
            </div>
            </div>
            <div class="profile-header-buttons">
                <div class="btn-header">
                    <a class="btn-articles-fav"href="/article/list"><img src="/images/listado-con-puntos.png" alt="list"></a>
                </div>
                <div class = "heart-icon-profile">
                   <a href="/article/favorites"><img src="/images/corazon-de-boton-de-favorito.png" alt="fav"></a> 
                </div>
            </div>

        <div class= "profile-info">
            <h2>Details:</h2>
            <p> Name: <%= user.name %></p>
            <p> Last name: <%= user.lastName %></p>
            <p> Tel.: <%= user.telephone %></p>
            <p> Email: <%= user.email %></p>
            <%if(user.favorite.length > 0){%>
            <p> Favorite Items: <%= user.favorite.length %></p>
            <%}%>
            <br>
            <a href="/user/<%=user._id%>/update" class="btn">Update</a>
        </div>
  