
  <div class="user-img-update">
      <img  src="<%= locals.currentUser.userImgPath %>" alt="<%= locals.currentUser.userOriginalName%>">
  </div>
<h1>Update profile</h1>

<form class="form" action="/user/update" method="POST">

  <input type="hidden" name="id" value="<%=user._id%>">

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="username" value="<%=user.username%>">

  <div class="aux">
    <div>
      <label for="name">Name</label><br>
      <input type="text" name="name" placeholder="name" value="<%=user.name%>">
    </div>
    <div>
      <label for="lastName">Last name</label><br>
      <input type="text" name="lastName" placeholder="lastname" value="<%=user.lastName%>">
    </div>
  </div>

  <label for="telephone">Phone</label>
  <input type="text" name="telephone" placeholder="phone" value="<%=user.telephone%>"><br>

  <label for="email">Email</label>
  <input type="email" name="email" placeholder="email" value="<%=user.email%>"><br>
  <label for="">Direcction</label>
  <div id='map'></div></br>

  <span class="btn" id="btn-update-password">Change password</span></br>
  <div id="user-update-password" class="hidden">
    <input type="password" name="oldPassword" placeholder="Old password"><br>
    <input type="password" name="password" placeholder="New password"><br>
    <input type="password" name="passwordCompare" placeholder="Repeat password"><br>
  </div>

  <%/* if (errorMessage) {*/ %>
  <div class="error-message">
    <%/*= errorMessage */%>
  </div>
  <%/* } */%>
  <button class="btn" type="submit">update</button>
</form>