<div class="container-logo">
  <img class="logo-signup" src="/assets/icons8-round-512.png" alt="">
</div>
<h1>Update profile</h1>

<form class="form" action="/user/update" method="POST">

  <input type="hidden" name="id" value="<%=user._id%>">

  <input type="text" name="username" placeholder="username" value="<%=user.username%>"><br>
  <span class="btn" id="btn-update-password">Change password</span>
  <div id="user-update-password" class="hidden">
    <input type="password" name="oldPassword" placeholder="Old password"><br>
    <input type="password" name="password" placeholder="New password"><br>
    <input type="password" name="passwordCompare" placeholder="Repeat password"><br>
  </div>

  <input type="text" name="name" placeholder="name" value="<%=user.name%>"><br>

  <input type="text" name="lastName" placeholder="lastname" value="<%=user.lastName%>"><br>

  <input type="text" name="telephone" placeholder="phone" value="<%=user.telephone%>"><br>

  <input type="email" name="email" placeholder="email" value="<%=user.email%>"><br>

  <input type="text" name="street" placeholder="street" value="<%=user.address.street%>"><br>
  <div class="form-signup-number">
    <input type="number" name="number" placeholder="number" value="<%=user.address.number%>"><br>

    <input type="number" name="zipcode" placeholder="zipcode" value="<%=user.address.zipcode%>"><br>
  </div>
  <input type="text" name="city" placeholder="city" value="<%=user.address.city%>"><br>

  <input type="text" name="country" placeholder="country" value="<%=user.address.country%>"><br>

  <%/* if (errorMessage) {*/ %>
  <div class="error-message">
    <%/*= errorMessage */%>
  </div>
  <%/* } */%>
  <button type="submit">Create account</button>
</form>