<br>
<h2> Favorites</h2>
<div>
        <%if(users.favorite.length > 0){%>
            <% users.favorite.forEach((fav) => {%>
    <div class = "card-lg">
        <a href="/article/favorites/<%= fav.articleID._id%>">
            <div>
                <img src="<%= fav.articleID.imgPath%>" alt="<% fav.articleID.originalName%>">
            </div>
        </a>
        <div class="card-lg-text">
            <div>
                <span><%= fav.articleID.type%> / <%= fav.articleID.category%> / <%- fav.articleID.title%></span>
                <h3></h3>
            </div>
            <h3 class ="card-lg-right">€ <%- fav.articleID.price%>.00 <span>/ day</span> </h3>
        </div>
    </div>
  <%}) %>                
  </div>
  <%} else{%>
    <h2>Sorry, you don´t have any favorite article yet.</h2>
    <%}%>
