<h2>Article <%= article.title%></h2>
<div class="card-lg">
  
  <img src="<%= article.imgPath%>" alt="<% article.originalName%>">
  <h3>Category: <%= article.category%></h3>
  <h3>Description: <%= article.description%></h3>
  <h3 class ="card-lg-right">€<%- article.price%>.00 <span>/ day</span> </h3><br>

</div>
<div class= "container-list-btn">
  <% if(locals.currentUser._id == article.userID){ %>
      <a  class="btn" href="/article/<%= article._id%>/update">Edit</a>
      <% } else{ %>  
        <%- include('../partials/rent-request-form');%>
  <% } %>
      <a  class="btn" href="/article/list">Back</a>
</div>