  <div class="card-lg article-detail">
    
  <div class="info">
    <div>
      <img src="<%= article.imgPath%>" alt="<% article.originalName%>">
    </div>
    <div class="article-title-container">
      <span class="title">
        <%= article.title%></span>
      <% if(article.userID._id != locals.currentUser._id){ %>
          <form action="/article/favorites" method="post" id="favoriteForm">
            <input type="hidden" name="articleId" value="<%= article._id %>">
            <button class="btn fav" type="submit"></button>
          </form>
      <%}%>
    </div>

    <span>Category:
      <%= article.category%></span>
    <span>Type:
      <%= article.type%></span>
    <span> Owner:
      <%= article.userID.username%></span>
    <span>Description:
      <%= article.description%></span>
    <span class="card-lg-right">€
      <%- article.price%>.00 <span>/ day</span> </span>
  </div>
  <% if(article.userID._id != locals.currentUser._id){ %>
  <div>
    <form class="form" action="/article/request" method="post" id="requestForm">
      <input type="hidden" name="articleId" value="<%= article._id %>">
      <input type="hidden" name="articlePrice" value="<%= article.price %>">
      <input type="hidden" name="dsOrigin" value="<%= article.rent.dateStart %>">
      <input type="hidden" name="deOrigin" value="<%= article.rent.dateEnd %>">
      <span>Insert the rent dates</span></br>
      <div class="full-width-centered">
        <label for="dateStart">Date start</label>
        <input class="full-width-centered" type="date" name="dateStart" id="dateStart">
      </div>
      <div class="full-width-centered">
        <label for="dateEnd">Date end</label>
        <input class="full-width-centered" type="date" name="dateEnd" id="dateEnd">
      </div>
      <button class="btn" type="submit">Request</button>
    </form>
  </div>
  <% } else{ %>
  <div class="form">
    <a class="btn" href="/article/<%= article._id%>/update">Edit</a>
  </div>

  <% } %>
  <br>