<h2>Article <%= article.title%></h2>
<div class="card-lg">
  
  <img src="<%= article.imgPath%>" alt="<% article.originalName%>">
  <h3>Category: <%= article.category%></h3>
  <h3>Type: <%= article.type%></h3>
  <h3>Description: <%= article.description%></h3>
  <h3 class ="card-lg-right">€<%- article.price%>.00 <span>/ day</span> </h3><br>

<% if(locals.currentUser._id == article.userID){ %>
    <a class ="btn" href="/article/<%= article._id%>/update">Edit</a>
    <a class ="btn" href="/article/list">Back</a>
  <% } else{ %>  
    <div>
      <form action="/article/request" method="post" id="requestForm">
          <input type="hidden" name="articleId" value="<%= article._id %>">
          <label for="dateStart"></label>
          <input type="date" name="dateStart" id="dateStart">
          <label for="dateEnd"></label>
          <input type="date" name="dateEnd" id="dateEnd">
          <button class="btn" type="submit">Request</button>
      </form>
  </div>
 <% } %>
