<div class="card-lg">
    
    <div class="info">
      <h2><%= fav.title%></h2>
      <img src="<%= fav.imgPath%>" alt="<% fav.originalName%>">
      <span class="title">
        <%= fav.title%></span> 
      <span>Category:
        <%= fav.category%></span>
      <span>Type:
        <%= fav.type%></span>
      <span> Owner:
        <%= fav.userID.username%></span>
      <span>Description:
        <%= fav.description%></span>
      <span class="card-lg-right">€
        <%- fav.price%>.00 <span>/ day</span> </span>
    </div>
    <% if(fav.userID._id != locals.currentUser._id){ %>
    <div>
      <form action="/article/request" method="post" id="requestForm">
        <input type="hidden" name="articleId" value="<%= fav._id %>">
        <input type="hidden" name="articlePrice" value="<%= fav.price %>">
        <input type="hidden" name="dsOrigin" value="<%= fav.rent.dateStart %>">
        <input type="hidden" name="deOrigin" value="<%= fav.rent.dateEnd %>">
        <label for="dateStart"></label>
        <input type="text" name="dateStart" id="dateStart" value="aa">
        <label for="dateEnd"></label>
        <!-- <input type="hidden" name="dateEnd" id="dateEnd"> -->
        <button class="btn" type="submit">Request</button>
      </form>
      <form action="" method="post" id="favoriteForm">
        <input type="hidden" name="articleId" value="<%= fav._id %>">
        <button class="btn" type="submit"> Delete Favorite</button>
      </form>
    </div>
    <% } else{ %>
    <a class="btn" href="/article/<%= fav._id%>/update">Edit</a>
  
    <% } %>
    <br>