<h2> Edit Article:  <%= article.title%></h2>

<form class ="form"action="/article/update" method="post">
  <input type="hidden" name="id" value="<%- article._id %>">
  <label for="name">Title</label>
  <input type="text" name="title" id="title" value="<%= article.title %>">
  <label for="origin">Price</label>
  <input type="text" name="price" id="price" value="<%= article.price %>">
  <label for="destination">Category</label>
  <input type="text" name="category" id="category" value="<%= article.category %>">
  <label for="type">Type</label>
  <input type="text" name="type" id="type" value="<%= article.type %>">
  <label for="type">Description</label>
  <input type="text" name="description" id="description" value="<%= article.description %>">
  <button class= "btn" type="submit" value="Confirm">Confirm </button>
</form>